# PASOS PARA EL PROCESAMIENTO DE DATOS SOBRE UN DATASET

## Importamos las librerias

In [ ]:
#Importamos los datos desde el drive
from google.colab import drive
drive.mount('/content/drive')

In [1]:
#Importamos las librerias para el procesamiento de datos
import numpy as np
import os
from matplotlib import pyplot as plt
import pandas as pd
import shutil as sh
from sklearn.model_selection import train_test_split

#importando libreria pandas alias pd
import pandas as pd
#labelEncoder sirve para convertir datos categoricos a numericos para poder hacer mejores calculos
from sklearn.preprocessing import LabelEncoder
#datatime sirve para poder trabajar con fechas
from datetime import datetime

## *Mostramos el dataset a aplicar el procedimiento*

In [2]:
# Mostramos el dataset 
data = pd.read_csv('./googleplaystore.csv', delimiter=',')

# mostramos el dataset 
data

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Current_Ver,Android_Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

## *Para mostrar mas datos*


Codigo para mostrar mas datos, de tanto filas y columnas

En este caso mostramos todo de columnas y 50 columnas del dataset

In [3]:
# Configurar Pandas para que no corte la visualización
pd.set_option('display.max_rows', 50)  # Mostrar todas las filas (60 -> None)
pd.set_option('display.max_columns', None)  # Mostrar todas las columnas (20 -> None)

## *Reducción de datos del Dataset*


Si queremos reducir los datos del dataset a un cierto numero.

In [4]:
# Reducimos el dataset a n filas seleccionando aleatoriamente
# En este caso reduciremos el dataset a 8000 filas

data = data.sample(n=8000, random_state=42)

# mostramos el dataset reducido
data.shape

(8000, 13)

## Para ver las clases distintas en una columna mencionada

In [5]:
# Supongamos que quieres ver cuántas clases distintas que hay en la columna 'clase'
num_clases = data['Category'].nunique()

# Imprime el número de clases distintas
print("Número de clases distintas:", num_clases)

Número de clases distintas: 33

## Para ver la información del dataset.

Podemos ver toda la información del dataset como:

- Columnas object
- Columnas int64
 
#### Columnas,    Non-Null Count,   Dtype

In [6]:
#Leemos el tipo de datos que tiene el dataset y vemos los datos faltantes que podrian tener las columnas X
print('INFORMACION DE TIPO DE DATOS')
data.info()

INFORMACION DE TIPO DE DATOS
<class 'pandas.core.frame.DataFrame'>
Index: 8000 entries, 3457 to 1457
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             8000 non-null   object
 1   Category        8000 non-null   object
 2   Rating          6903 non-null   float64
 3   Reviews         8000 non-null   object
 4   Size            8000 non-null   object
 5   Installs        8000 non-null   object
 6   Type            7999 non-null   object
 7   Price           8000 non-null   object
 8   Content_Rating  8000 non-null   object
 9   Genres          8000 non-null   object
 10  Last_Updated    8000 non-null   object
 11  Current_Ver     7993 non-null   object
 12  Android_Ver     7998 non-null   object
dtypes: float64(1), object(12)
memory usage: 875.0+ KB

## Para ver columnas vacias

In [7]:
print('\nDATOS VACIOS')
print(pd.isnull(data).sum())

DATOS VACIOS
App                  0
Category             0
Rating            1097
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content_Rating       0
Genres               0
Last_Updated         0
Current_Ver          7
Android_Ver          2
dtype: int64

## Para eliminar Columnas 

Eliminamos las columnas que no aportan nada al proceso de entrenamiento

In [8]:
#Descartamos las columnas que tienen muchos datos perdidos o que no son muy necesarios para el analisis
data.drop(['Type'], axis=1, inplace=True)
data.drop(['Current_Ver'], axis=1, inplace=True)
data.drop(['Android_Ver'], axis=1, inplace=True)

## Completar los campos vacios de las columnas

Como vemos que las columnas Rating, Current_Ver y Android_Ver tienen datos faltantes, procedemos a llenarlos con la media de los datos de la columna

In [9]:
#Sacamos los valores minimos y maximos de cada columna que necesite rellenar los datos
# Ojo que tiene que ser columnas de puro numeros

# OTRO METODO
print("Rating")
print("Valor minimo: ", data['Rating'].min())
print("Valor máximo: ", data['Rating'].max())

print("Current_Ver")
print(data['Current_Ver'].min())
print(data['Current_Ver'].max())

Rating
Valor minimo:  1.0
Valor máximo:  5.0

In [10]:
#Reemplazamos todos los valores NaN de las columnas que tenian campos faltantes

# Para numpy
for i in range(len(data)):
    if pd.isna(data.at[i, 'Rating']):
        data.at[i, 'Rating'] = np.random.randint(1, 5)

#? ==================================================================
# Con pandas
# Sacamos los valores mínimos y máximos de la columna 'Rating'
rango_min = data['Rating'].min()
rango_max = data['Rating'].max()

# Reemplazamos los valores NaN en la columna 'Rating' con los valores mínimo y máximo
data['Rating'].fillna(np.random.randint(rango_min, rango_max + 1), inplace=True) # puede ser esto 1

data['Rating'] = data['Rating'].fillna(np.random.randint(rango_min, rango_max + 1))  # puede ser esto 2

data.loc[:, 'Rating'] = data['Rating'].fillna(np.random.randint(rango_min, rango_max + 1)) # puede ser esto 3


# Verificamos si hay valores NaN en la columna 'Rating' después del reemplazo
print("Número de valores NaN en la columna 'Rating' después del reemplazo:", data['Rating'].isna().sum())

Número de valores NaN en la columna 'Rating' después del reemplazo: 0

C:\Users\gonza\AppData\Local\Temp\ipykernel_9544\2524448204.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Rating'].fillna(np.random.randint(rango_min, rango_max + 1), inplace=True)

In [11]:
# Verificamos de nuevo la información del dataset para ver si hay columnas con campos vacios
print('\nDATOS VACIOS')
print(pd.isnull(data).sum())

DATOS VACIOS
App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Price             0
Content_Rating    0
Genres            0
Last_Updated      0
dtype: int64

In [12]:
# Verificamos el dataset
data.head(5)

,App,Category,Rating,Reviews,Size,Installs,Price,Content_Rating,Genres,Last_Updated
3457,Microsoft Outlook,PRODUCTIVITY,4.3,3252896,50M,"100,000,000+",0,Everyone,Productivity,"August 2, 2018"
3069,FotMob - Live Soccer Scores,SPORTS,4.7,410395,Varies with device,"10,000,000+",0,Everyone,Sports,"July 31, 2018"
9657,EO Guide,HEALTH_AND_FITNESS,2.0,15,24M,"1,000+",$4.99,Everyone,Health & Fitness,"July 23, 2018"
10714,FunForMobile Ringtones & Chat,SOCIAL,4.4,68358,7.2M,"5,000,000+",0,Mature 17+,Social,"May 7, 2016"
3963,Oral-B App,HEALTH_AND_FITNESS,3.3,14210,96M,"1,000,000+",0,Everyone,Health & Fitness,"July 19, 2018"

## Convertir todas las columnas string a números

In [13]:
#labelEncoder sirve para convertir datos categoricos a numericos para poder hacer mejores calculos
from sklearn.preprocessing import LabelEncoder

#variables categoricas, donde convertimos a int64
columnas_categoricas = data.select_dtypes(include=['object']).columns

#Procesamiento de frases o palabras a valores numericos para su procesamiento
for columna in columnas_categoricas:
  le = LabelEncoder()
  data[columna] = le.fit_transform(data[columna])
  

# Verificamos el dataset
data.head(5)

,App,Category,Rating,Reviews,Size,Installs,Price,Content_Rating,Genres,Last_Updated
3457,4650,25,4.3,2416,184,11,78,1,77,139
3069,3423,28,4.7,2869,384,8,78,1,97,604
9657,2717,15,2.0,798,75,3,62,1,57,567
10714,3506,27,4.4,3903,257,14,78,3,96,953
3963,5072,15,3.3,695,371,4,78,1,57,549

## Para mover columnas al principio o al final

In [14]:
#Movimiento de columna al final del dataset y verificacion de datos
# En este caso movemos nuestra Y predicha al final de las columnas que en este caso es "Install"
indice_columna = data.columns.get_loc('Installs')
columnas = list(data.columns)
columnas.pop(indice_columna)
columnas.append('Installs')
data = data[columnas]

# Verificamos el dataset
data.head(5)

,App,Category,Rating,Reviews,Size,Price,Content_Rating,Genres,Last_Updated,Installs
3457,4650,25,4.3,2416,184,78,1,77,139,11
3069,3423,28,4.7,2869,384,78,1,97,604,8
9657,2717,15,2.0,798,75,62,1,57,567,3
10714,3506,27,4.4,3903,257,78,3,96,953,14
3963,5072,15,3.3,695,371,78,1,57,549,4

## *Para introducir números aleatorios a una columna de un cierto rango*

In [15]:
# En este caso introducimos numeros aleatorios a la columna de Installs de 4000 a 8000
data['Installs'] = np.random.randint(4000, 8000, data.shape[0])

# Verificamos el dataset
data.head(5)

,App,Category,Rating,Reviews,Size,Price,Content_Rating,Genres,Last_Updated,Installs
3457,4650,25,4.3,2416,184,78,1,77,139,7466
3069,3423,28,4.7,2869,384,78,1,97,604,7061
9657,2717,15,2.0,798,75,62,1,57,567,5095
10714,3506,27,4.4,3903,257,78,3,96,953,4505
3963,5072,15,3.3,695,371,78,1,57,549,6311

## Para convertir a Int64 todas las columnas a type Int

In [16]:
# Primero verificamos que columnas son Float o que no son enteros
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8000 entries, 3457 to 1457
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             8000 non-null   int32
 1   Category        8000 non-null   int32
 2   Rating          8000 non-null   float64
 3   Reviews         8000 non-null   int32
 4   Size            8000 non-null   int32
 5   Price           8000 non-null   int32
 6   Content_Rating  8000 non-null   int32
 7   Genres          8000 non-null   int32
 8   Last_Updated    8000 non-null   int32
 9   Installs        8000 non-null   int32
dtypes: float64(1), int32(9)
memory usage: 406.2 KB

In [17]:
# Convertimos a int64 a todos los valores de X
data = data.astype('int64', errors='ignore')

# Mostramos resultado de las columnas a que esten todas de type Int64
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8000 entries, 3457 to 1457
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             8000 non-null   int64
 1   Category        8000 non-null   int64
 2   Rating          8000 non-null   int64
 3   Reviews         8000 non-null   int64
 4   Size            8000 non-null   int64
 5   Price           8000 non-null   int64
 6   Content_Rating  8000 non-null   int64
 7   Genres          8000 non-null   int64
 8   Last_Updated    8000 non-null   int64
 9   Installs        8000 non-null   int64
dtypes: int64(10)
memory usage: 687.5 KB

## Para introducir números de 0 y 1 a una columna

Esto es mas problablable que apliquemos en una Regresión Logistica Binaria

In [19]:
# En este caso pondremos a la columna "Content_Rating" entre 0 y 1

# Generamos una nueva columna llamada 'Content_Rating' con valores aleatorios entre 0 y 1
data['Content_Rating'] = np.random.randint(2, size=len(data))

# Mostramos el dataset generado
data

,App,Category,Rating,Reviews,Size,Price,Content_Rating,Genres,Last_Updated,Installs
3457,4650,25,4,2416,184,78,0,77,139,7466
3069,3423,28,4,2869,384,78,1,97,604,7061
9657,2717,15,2,798,75,62,0,57,567,5095
10714,3506,27,4,3903,257,78,0,96,953,4505
3963,5072,15,3,695,371,78,1,57,549,6311
...,...,...,...,...,...,...,...,...,...,...
3415,4965,23,4,391,177,78,0,75,258,7107
1399,4269,15,4,2506,190,78,0,57,573,6644
9484,3609,14,3,2286,75,78,0,0,838,4491
8347,5189,27,4,3180,27,78,0,96,623,5651
1457,3661,16,3,2080,307,78,0,60,692,7898

Para mostrar cuantos clases de 0 y 1 hay en la columna

In [20]:
# Mostramos que cantidad de datos hay con valor de 0 y 1
class_count = data['Content_Rating'].value_counts()

# Mostramos las cantidad de clases que existen en el dataset
class_count

Content_Rating
0    4057
1    3943
Name: count, dtype: int64

In [21]:
data

,App,Category,Rating,Reviews,Size,Price,Content_Rating,Genres,Last_Updated,Installs
3457,4650,25,4,2416,184,78,0,77,139,7466
3069,3423,28,4,2869,384,78,1,97,604,7061
9657,2717,15,2,798,75,62,0,57,567,5095
10714,3506,27,4,3903,257,78,0,96,953,4505
3963,5072,15,3,695,371,78,1,57,549,6311
...,...,...,...,...,...,...,...,...,...,...
3415,4965,23,4,391,177,78,0,75,258,7107
1399,4269,15,4,2506,190,78,0,57,573,6644
9484,3609,14,3,2286,75,78,0,0,838,4491
8347,5189,27,4,3180,27,78,0,96,623,5651
1457,3661,16,3,2080,307,78,0,60,692,7898

## Para exportar el dataset procesado

In [22]:
# Guardamos una copia del dataset preparado
data.to_csv('../Apuntes/googleplaystore_procesado.csv', index=False)