# OTROS METODOS DE PROCESAR EL DATASET

In [1]:
#Importamos las librerias para el procesamiento de datos
import numpy as np
import os
from matplotlib import pyplot as plt
import pandas as pd
import shutil as sh
from sklearn.model_selection import train_test_split

#importando libreria pandas alias pd
import pandas as pd
#labelEncoder sirve para convertir datos categoricos a numericos para poder hacer mejores calculos
from sklearn.preprocessing import LabelEncoder
#datatime sirve para poder trabajar con fechas
from datetime import datetime

In [2]:
# Mostramos el dataset 
data = pd.read_csv('./lc_2016_2017.csv', delimiter=',')

# mostramos el dataset 
data

C:\Users\gonza\AppData\Local\Temp\ipykernel_3900\166309343.py:2: DtypeWarning: Columns (18,54) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./lc_2016_2017.csv', delimiter=',')

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,112435993,NaN,2300,2300,2300.0,36 months,12.62,77.08,C,C1,...,0.0,NaN,1.0,2.0,2315.0,55.0,7100.0,1.0,0.0,2.0
1,112290210,NaN,16000,16000,16000.0,60 months,12.62,360.95,C,C1,...,11078.0,69.0,3.0,5.0,1962.0,94.0,31900.0,0.0,6.0,1.0
2,112436985,NaN,6025,6025,6025.0,36 months,15.05,209.01,C,C4,...,0.0,NaN,1.0,2.0,1950.0,45.0,27700.0,1.0,5.0,3.0
3,112439006,NaN,20400,20400,20400.0,36 months,9.44,652.91,B,B1,...,53566.0,95.0,1.0,2.0,4240.0,60.0,46900.0,1.0,1.0,1.0
4,112438929,NaN,13000,13000,13000.0,36 months,11.99,431.73,B,B5,...,8466.0,72.0,0.0,1.0,2996.0,78.0,7800.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
743560,65854936,NaN,6000,6000,6000.0,36 months,7.89,187.72,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,21400.0,NaN,NaN,NaN
743561,66055600,NaN,6000,6000,6000.0,36 months,9.17,191.28,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,18600.0,NaN,NaN,NaN
743562,66141895,NaN,14400,14400,14400.0,60 months,13.18,328.98,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,18300.0,NaN,NaN,NaN
743563,65673209,NaN,34050,34050,34050.0,36 months,15.41,1187.21,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,47900.0,NaN,NaN,NaN
743564,65744272,NaN,5000,5000,5000.0,36 months,11.22,164.22,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,12000.0,NaN,NaN,NaN

In [3]:
# Reducimos el dataset a n filas seleccionando aleatoriamente
# En este caso reduciremos el dataset a 8000 filas

data = data.sample(n=50000, random_state=42)

# mostramos el dataset reducido
data.shape

(50000, 72)

In [4]:
data

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
718669,69802332,NaN,8400,8400,8400.0,36 months,11.99,278.97,C,C1,...,157614.0,96.0,3.0,7.0,2881.0,94.0,16800.0,1.0,0.0,4.0
72869,105668881,NaN,25000,25000,25000.0,36 months,11.49,824.29,B,B5,...,95306.0,NaN,1.0,2.0,11172.0,47.0,52100.0,0.0,3.0,0.0
550847,92817326,NaN,8000,8000,8000.0,36 months,11.49,263.78,B,B5,...,16122.0,96.0,0.0,2.0,5096.0,65.0,19100.0,0.0,4.0,2.0
225842,88016605,NaN,12000,12000,12000.0,36 months,11.49,395.66,B,B5,...,17505.0,60.0,2.0,4.0,2073.0,58.0,24100.0,0.0,0.0,1.0
566693,92719338,NaN,10000,10000,10000.0,36 months,21.49,379.28,D,D5,...,13060.0,94.0,2.0,3.0,264.0,70.0,5400.0,4.0,1.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573037,92541492,NaN,9250,9250,9250.0,36 months,13.99,316.10,C,C3,...,24960.0,66.0,0.0,1.0,3060.0,55.0,28100.0,1.0,1.0,0.0
725886,69058326,NaN,35000,35000,35000.0,60 months,20.50,937.06,E,E4,...,144875.0,59.0,3.0,3.0,4849.0,56.0,34600.0,2.0,3.0,3.0
391737,112733305,NaN,18000,18000,18000.0,36 months,12.62,603.21,C,C1,...,13496.0,89.0,4.0,10.0,6391.0,43.0,33900.0,0.0,0.0,2.0
334448,117041837,NaN,2400,2400,2400.0,36 months,23.88,94.01,E,E2,...,20736.0,57.0,1.0,2.0,187.0,56.0,1100.0,0.0,2.0,0.0
177727,96223439,NaN,3600,3600,3600.0,36 months,14.99,124.78,C,C4,...,45702.0,83.0,3.0,5.0,3316.0,82.0,14500.0,2.0,5.0,2.0

In [3]:
# Guardamos una copia del dataset preparado
data.to_csv('../Examen Laboratorio/lc_2016_2017procesd.csv', index=False)

In [6]:
data

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
718669,69802332,NaN,8400,8400,8400.0,36 months,11.99,278.97,C,C1,...,157614.0,96.0,3.0,7.0,2881.0,94.0,16800.0,1.0,0.0,4.0
72869,105668881,NaN,25000,25000,25000.0,36 months,11.49,824.29,B,B5,...,95306.0,NaN,1.0,2.0,11172.0,47.0,52100.0,0.0,3.0,0.0
550847,92817326,NaN,8000,8000,8000.0,36 months,11.49,263.78,B,B5,...,16122.0,96.0,0.0,2.0,5096.0,65.0,19100.0,0.0,4.0,2.0
225842,88016605,NaN,12000,12000,12000.0,36 months,11.49,395.66,B,B5,...,17505.0,60.0,2.0,4.0,2073.0,58.0,24100.0,0.0,0.0,1.0
566693,92719338,NaN,10000,10000,10000.0,36 months,21.49,379.28,D,D5,...,13060.0,94.0,2.0,3.0,264.0,70.0,5400.0,4.0,1.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573037,92541492,NaN,9250,9250,9250.0,36 months,13.99,316.10,C,C3,...,24960.0,66.0,0.0,1.0,3060.0,55.0,28100.0,1.0,1.0,0.0
725886,69058326,NaN,35000,35000,35000.0,60 months,20.50,937.06,E,E4,...,144875.0,59.0,3.0,3.0,4849.0,56.0,34600.0,2.0,3.0,3.0
391737,112733305,NaN,18000,18000,18000.0,36 months,12.62,603.21,C,C1,...,13496.0,89.0,4.0,10.0,6391.0,43.0,33900.0,0.0,0.0,2.0
334448,117041837,NaN,2400,2400,2400.0,36 months,23.88,94.01,E,E2,...,20736.0,57.0,1.0,2.0,187.0,56.0,1100.0,0.0,2.0,0.0
177727,96223439,NaN,3600,3600,3600.0,36 months,14.99,124.78,C,C4,...,45702.0,83.0,3.0,5.0,3316.0,82.0,14500.0,2.0,5.0,2.0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50000 entries, 718669 to 177727
Data columns (total 72 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           50000 non-null  int64
 1   member_id                    0 non-null      float64
 2   loan_amnt                    50000 non-null  int64
 3   funded_amnt                  50000 non-null  int64
 4   funded_amnt_inv              50000 non-null  float64
 5   term                         50000 non-null  object
 6   int_rate                     50000 non-null  float64
 7   installment                  50000 non-null  float64
 8   grade                        50000 non-null  object
 9   sub_grade                    50000 non-null  object
 10  emp_title                    46630 non-null  object
 11  emp_length                   46673 non-null  object
 12  home_ownership               50000 non-null  object
 13  annual_inc                   50000 non-null  float64
 14  verification_status          50000 non-null  object
 15  issue_d                      50000 non-null  object
 16  loan_status                  50000 non-null  object
 17  pymnt_plan                   50000 non-null  object
 18  desc                         0 non-null      object
 19  purpose                      50000 non-null  object
 20  title                        48439 non-null  object
 21  zip_code                     50000 non-null  object
 22  addr_state                   50000 non-null  object
 23  dti                          49976 non-null  float64
 24  delinq_2yrs                  50000 non-null  int64
 25  earliest_cr_line             50000 non-null  object
 26  inq_last_6mths               50000 non-null  float64
 27  mths_since_last_delinq       25971 non-null  float64
 28  mths_since_last_record       9280 non-null   float64
 29  open_acc                     50000 non-null  int64
 30  pub_rec                      50000 non-null  int64
 31  revol_bal                    50000 non-null  float64
 32  revol_util                   49967 non-null  float64
 33  total_acc                    50000 non-null  int64
 34  initial_list_status          50000 non-null  object
 35  out_prncp                    50000 non-null  float64
 36  out_prncp_inv                50000 non-null  float64
 37  total_pymnt                  50000 non-null  float64
 38  total_pymnt_inv              50000 non-null  float64
 39  total_rec_prncp              50000 non-null  float64
 40  total_rec_int                50000 non-null  float64
 41  total_rec_late_fee           50000 non-null  float64
 42  recoveries                   50000 non-null  float64
 43  collection_recovery_fee      50000 non-null  float64
 44  last_pymnt_d                 49946 non-null  object
 45  last_pymnt_amnt              50000 non-null  float64
 46  next_pymnt_d                 38683 non-null  object
 47  last_credit_pull_d           49998 non-null  object
 48  collections_12_mths_ex_med   50000 non-null  int64
 49  mths_since_last_major_derog  14022 non-null  float64
 50  policy_code                  50000 non-null  int64
 51  application_type             50000 non-null  object
 52  annual_inc_joint             2175 non-null   float64
 53  dti_joint                    2175 non-null   float64
 54  verification_status_joint    2175 non-null   object
 55  acc_now_delinq               50000 non-null  int64
 56  tot_coll_amt                 50000 non-null  float64
 57  tot_cur_bal                  50000 non-null  float64
 58  open_acc_6m                  49996 non-null  float64
 59  open_il_12m                  49996 non-null  float64
 60  open_il_24m                  49996 non-null  float64
 61  mths_since_rcnt_il           48599 non-null  float64
 62  total_bal_il                 49996 non-null  float64
 63  il_util                      43235 non-null  float64
 64  open_rv_12m                  49996 non-null  float64
 65  open_rv_24m                  49996 non-null  float64
 66  max_bal_bc                   49996 non-null  float64
 67  all_util                     49994 non-null  float64
 68  total_rev_hi_lim             50000 non-null  float64
 69  inq_fi                       49996 non-null  float64
 70  total_cu_tl                  49996 non-null  float64
 71  inq_last_12m                 49996 non-null  float64
dtypes: float64(40), int64(10), object(22)
memory usage: 27.8+ MB

In [23]:
# Configurar Pandas para que no corte la visualización
pd.set_option('display.max_rows', 100)  # Mostrar todas las filas (60 -> None)
pd.set_option('display.max_columns', None)  # Mostrar todas las columnas (20 -> None)

In [76]:
df = pd.read_csv('../Examen Laboratorio/lc_2016_2017procesd.csv', delimiter=',')

df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,69802332,NaN,8400,8400,8400.0,36 months,11.99,278.97,C,C1,Accounting Manager,8 years,MORTGAGE,80000.0,Verified,Jan-2016,Current,n,NaN,debt_consolidation,Debt consolidation,302xx,GA,18.92,1,Aug-1998,1.0,23.0,59.0,31,2,11806.0,70.3,42,f,3627.88,3627.88,6141.250000,6141.25,4772.12,1369.13,0.0,0.0,0.0,Dec-2017,278.97,Jan-2018,Dec-2017,0,NaN,1,Individual,NaN,NaN,NaN,0,0.0,329237.0,3.0,1.0,3.0,4.0,157614.0,96.0,3.0,7.0,2881.0,94.0,16800.0,1.0,0.0,4.0
1,105668881,NaN,25000,25000,25000.0,36 months,11.49,824.29,B,B5,Registered Nurse,3 years,MORTGAGE,99000.0,Not Verified,Apr-2017,Fully Paid,n,NaN,debt_consolidation,Debt consolidation,722xx,AR,26.29,0,Oct-2006,0.0,NaN,NaN,11,0,24234.0,46.5,21,w,0.00,0.00,26560.060933,26560.06,25000.00,1560.06,0.0,0.0,0.0,Nov-2017,21630.28,NaN,Nov-2017,0,NaN,1,Individual,NaN,NaN,NaN,0,0.0,272059.0,0.0,0.0,1.0,21.0,95306.0,NaN,1.0,2.0,11172.0,47.0,52100.0,0.0,3.0,0.0
2,92817326,NaN,8000,8000,8000.0,36 months,11.49,263.78,B,B5,Firman,10+ years,MORTGAGE,41000.0,Not Verified,Nov-2016,Fully Paid,n,NaN,debt_consolidation,Debt consolidation,465xx,IN,13.00,0,Aug-2003,0.0,NaN,NaN,7,0,7262.0,38.0,14,w,0.00,0.00,8254.881898,8254.88,8000.00,254.88,0.0,0.0,0.0,Feb-2017,7732.43,NaN,Sep-2017,0,NaN,1,Individual,NaN,NaN,NaN,0,0.0,82895.0,1.0,1.0,1.0,5.0,16122.0,96.0,0.0,2.0,5096.0,65.0,19100.0,0.0,4.0,2.0
3,88016605,NaN,12000,12000,12000.0,36 months,11.49,395.66,B,B5,foreman,10+ years,RENT,48000.0,Verified,Aug-2016,Current,n,NaN,debt_consolidation,Debt consolidation,934xx,CA,29.20,0,Jul-2002,1.0,31.0,NaN,14,0,13508.0,56.0,21,w,7170.37,7170.37,6315.240000,6315.24,4829.63,1485.61,0.0,0.0,0.0,Dec-2017,395.66,Jan-2018,Dec-2017,0,NaN,1,Individual,NaN,NaN,NaN,0,0.0,31013.0,1.0,0.0,1.0,20.0,17505.0,60.0,2.0,4.0,2073.0,58.0,24100.0,0.0,0.0,1.0
4,92719338,NaN,10000,10000,10000.0,36 months,21.49,379.28,D,D5,Carpenter (dept. 252),< 1 year,RENT,51000.0,Source Verified,Nov-2016,Current,n,NaN,house,Home buying,064xx,CT,7.29,0,Jul-2013,3.0,NaN,NaN,4,0,414.0,7.7,5,f,7098.59,7098.59,4900.790000,4900.79,2901.41,1999.38,0.0,0.0,0.0,Dec-2017,379.28,Jan-2018,Dec-2017,0,NaN,1,Individual,NaN,NaN,NaN,0,0.0,13474.0,1.0,1.0,1.0,5.0,13060.0,94.0,2.0,3.0,264.0,70.0,5400.0,4.0,1.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,92541492,NaN,9250,9250,9250.0,36 months,13.99,316.10,C,C3,Tele-Outreach Specialist,< 1 year,RENT,35360.0,Source Verified,Nov-2016,Current,n,NaN,debt_consolidation,Debt consolidation,981xx,WA,29.63,0,Sep-2006,0.0,NaN,NaN,12,0,11069.0,39.4,30,w,6344.90,6344.90,4102.110000,4102.11,2905.10,1197.01,0.0,0.0,0.0,Dec-2017,316.10,Jan-2018,Dec-2017,0,NaN,1,Individual,NaN,NaN,NaN,0,318.0,36029.0,0.0,0.0,1.0,21.0,24960.0,66.0,0.0,1.0,3060.0,55.0,28100.0,1.0,1.0,0.0
49996,69058326,NaN,35000,35000,35000.0,60 months,20.50,937.06,E,E4,Plant Manger,10+ years,MORTGAGE,82000.0,Verified,Feb-2016,Current,n,NaN,debt_consolidation,NaN,898xx,NV,48.44,1,Feb-2000,2.0,17.0,NaN,15,0,17118.0,49.5,27,w,26034.91,26034.91,20535.600000,20535.60,8965.09,11570.51,0.0,0.0,0.0,Dec-2017,937.06,Jan-2018,Dec-2017,0,17.0,1,Individual,NaN,NaN,NaN,0,0.0,161993.0,2.0,1.0,2.0,5.0,144875.0,59.0,3.0,3.0,4849.0,56.0,34600.0,2.0,3.0,3.0
49997,112733305,NaN,18000,18000,18000.0,36 months,12.62,603.21,C,C1,Community Manager,< 1 year,OWN,50000.0,Source Verified,Jul-2017,Current,n,NaN,debt_consolidation,Debt consolidation,480xx,MI,9.05,1,Apr-2011,1.0,5.0,NaN,17,0,7792.0,23.0,18,w,15888.41,15888.41,2990.810000,2990.81,2111.59,879.22,0.0,0.0,0.0,Dec-2017,603.21,Jan-2018,Jul-2017,0,NaN,1,Joint App,90000.0,19.65,Source Verified,0,0.0,21288.0,2.0,0.0,0.0,35.0,13496.0,89.0,4.0,10.0,6391.0,43.0,33900.0,0.0,0.0,2.0
49998,117041837,NaN,2400,2400,2400.0,36 months,23.88,94.01,E,E2,Forklift operator,10+ years,MORTGAGE,55000.0,Source Verified,Aug-2017,Current,n,NaN,debt_consolidation,Debt consolidation,397xx,MS,20.69,1,Apr-2006,0.0,5.0,NaN,4,0,187.0,17.0,5,w,2259.96,2259.96,308.850000,308.85,140.04,138.81,30.0,0.0,0.0,Nov-2017,94.01,Jan-2018,Dec-2017,0,NaN,1,Individual,NaN,NaN,NaN,0,0.0,20923.0,0.0,0.0,0.0,26.0,20736.0,57.0,1.0,2.0,187.0,56.0,1100.0,0.0,2.0,0.0
49999,96223439,NaN,3600,3600,3600.0,36 months,14.99,124.78,C,C4,Operation Specialist,10+ years,MORTGAGE,100000.0,Source Verified,Jan-2017,Fully Paid,n,NaN,other,Other,784xx,TX,10.93,0,Apr-2002,2.0,NaN,NaN,16,0,11237.0,77.5,48,f,0.00,0.00,3880.804898,3880.80,3600.00,265.80,15.0,0.0,0.0,Jul-2017,3244.90,NaN,Oct-2017,0,NaN,1,Individual,NaN,NaN,NaN,0,0.0,188556.0,5.0,2.0,4.0,5.0,45702.0,83.0,3.0,5.0,3316.0,82.0,14500.0,2.0,5.0,2.0

In [77]:
print('\nDATOS VACIOS')
print(pd.isnull(df).sum())

DATOS VACIOS
id                                 0
member_id                      50000
loan_amnt                          0
funded_amnt                        0
funded_amnt_inv                    0
term                               0
int_rate                           0
installment                        0
grade                              0
sub_grade                          0
emp_title                       3370
emp_length                      3327
home_ownership                     0
annual_inc                         0
verification_status                0
issue_d                            0
loan_status                        0
pymnt_plan                         0
desc                           50000
purpose                            0
title                           1561
zip_code                           0
addr_state                         0
dti                               24
delinq_2yrs                        0
earliest_cr_line                   0
inq_last_6mths                     0
mths_since_last_delinq         24029
mths_since_last_record         40720
open_acc                           0
pub_rec                            0
revol_bal                          0
revol_util                        33
total_acc                          0
initial_list_status                0
out_prncp                          0
out_prncp_inv                      0
total_pymnt                        0
total_pymnt_inv                    0
total_rec_prncp                    0
total_rec_int                      0
total_rec_late_fee                 0
recoveries                         0
collection_recovery_fee            0
last_pymnt_d                      54
last_pymnt_amnt                    0
next_pymnt_d                   11317
last_credit_pull_d                 2
collections_12_mths_ex_med         0
mths_since_last_major_derog    35978
policy_code                        0
application_type                   0
annual_inc_joint               47825
dti_joint                      47825
verification_status_joint      47825
acc_now_delinq                     0
tot_coll_amt                       0
tot_cur_bal                        0
open_acc_6m                        4
open_il_12m                        4
open_il_24m                        4
mths_since_rcnt_il              1401
total_bal_il                       4
il_util                         6765
open_rv_12m                        4
open_rv_24m                        4
max_bal_bc                         4
all_util                           6
total_rev_hi_lim                   0
inq_fi                             4
total_cu_tl                        4
inq_last_12m                       4
dtype: int64

Eliminamos todas las columnas que tienen datos nulos

In [78]:
# Eliminamos todas las columnas que tengan datos nulos
df = df.dropna(axis=1)

print(pd.isnull(df).sum())

id                            0
loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
term                          0
int_rate                      0
installment                   0
grade                         0
sub_grade                     0
home_ownership                0
annual_inc                    0
verification_status           0
issue_d                       0
loan_status                   0
pymnt_plan                    0
purpose                       0
zip_code                      0
addr_state                    0
delinq_2yrs                   0
earliest_cr_line              0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
total_acc                     0
initial_list_status           0
out_prncp                     0
out_prncp_inv                 0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_amnt               0
collections_12_mths_ex_med    0
policy_code                   0
application_type              0
acc_now_delinq                0
tot_coll_amt                  0
tot_cur_bal                   0
total_rev_hi_lim              0
dtype: int64

In [79]:
df.shape

(50000, 43)

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 43 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          50000 non-null  int64
 1   loan_amnt                   50000 non-null  int64
 2   funded_amnt                 50000 non-null  int64
 3   funded_amnt_inv             50000 non-null  float64
 4   term                        50000 non-null  object
 5   int_rate                    50000 non-null  float64
 6   installment                 50000 non-null  float64
 7   grade                       50000 non-null  object
 8   sub_grade                   50000 non-null  object
 9   home_ownership              50000 non-null  object
 10  annual_inc                  50000 non-null  float64
 11  verification_status         50000 non-null  object
 12  issue_d                     50000 non-null  object
 13  loan_status                 50000 non-null  object
 14  pymnt_plan                  50000 non-null  object
 15  purpose                     50000 non-null  object
 16  zip_code                    50000 non-null  object
 17  addr_state                  50000 non-null  object
 18  delinq_2yrs                 50000 non-null  int64
 19  earliest_cr_line            50000 non-null  object
 20  inq_last_6mths              50000 non-null  float64
 21  open_acc                    50000 non-null  int64
 22  pub_rec                     50000 non-null  int64
 23  revol_bal                   50000 non-null  float64
 24  total_acc                   50000 non-null  int64
 25  initial_list_status         50000 non-null  object
 26  out_prncp                   50000 non-null  float64
 27  out_prncp_inv               50000 non-null  float64
 28  total_pymnt                 50000 non-null  float64
 29  total_pymnt_inv             50000 non-null  float64
 30  total_rec_prncp             50000 non-null  float64
 31  total_rec_int               50000 non-null  float64
 32  total_rec_late_fee          50000 non-null  float64
 33  recoveries                  50000 non-null  float64
 34  collection_recovery_fee     50000 non-null  float64
 35  last_pymnt_amnt             50000 non-null  float64
 36  collections_12_mths_ex_med  50000 non-null  int64
 37  policy_code                 50000 non-null  int64
 38  application_type            50000 non-null  object
 39  acc_now_delinq              50000 non-null  int64
 40  tot_coll_amt                50000 non-null  float64
 41  tot_cur_bal                 50000 non-null  float64
 42  total_rev_hi_lim            50000 non-null  float64
dtypes: float64(19), int64(10), object(14)
memory usage: 16.4+ MB

In [81]:
df

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,zip_code,addr_state,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,69802332,8400,8400,8400.0,36 months,11.99,278.97,C,C1,MORTGAGE,80000.0,Verified,Jan-2016,Current,n,debt_consolidation,302xx,GA,1,Aug-1998,1.0,31,2,11806.0,42,f,3627.88,3627.88,6141.250000,6141.25,4772.12,1369.13,0.0,0.0,0.0,278.97,0,1,Individual,0,0.0,329237.0,16800.0
1,105668881,25000,25000,25000.0,36 months,11.49,824.29,B,B5,MORTGAGE,99000.0,Not Verified,Apr-2017,Fully Paid,n,debt_consolidation,722xx,AR,0,Oct-2006,0.0,11,0,24234.0,21,w,0.00,0.00,26560.060933,26560.06,25000.00,1560.06,0.0,0.0,0.0,21630.28,0,1,Individual,0,0.0,272059.0,52100.0
2,92817326,8000,8000,8000.0,36 months,11.49,263.78,B,B5,MORTGAGE,41000.0,Not Verified,Nov-2016,Fully Paid,n,debt_consolidation,465xx,IN,0,Aug-2003,0.0,7,0,7262.0,14,w,0.00,0.00,8254.881898,8254.88,8000.00,254.88,0.0,0.0,0.0,7732.43,0,1,Individual,0,0.0,82895.0,19100.0
3,88016605,12000,12000,12000.0,36 months,11.49,395.66,B,B5,RENT,48000.0,Verified,Aug-2016,Current,n,debt_consolidation,934xx,CA,0,Jul-2002,1.0,14,0,13508.0,21,w,7170.37,7170.37,6315.240000,6315.24,4829.63,1485.61,0.0,0.0,0.0,395.66,0,1,Individual,0,0.0,31013.0,24100.0
4,92719338,10000,10000,10000.0,36 months,21.49,379.28,D,D5,RENT,51000.0,Source Verified,Nov-2016,Current,n,house,064xx,CT,0,Jul-2013,3.0,4,0,414.0,5,f,7098.59,7098.59,4900.790000,4900.79,2901.41,1999.38,0.0,0.0,0.0,379.28,0,1,Individual,0,0.0,13474.0,5400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,92541492,9250,9250,9250.0,36 months,13.99,316.10,C,C3,RENT,35360.0,Source Verified,Nov-2016,Current,n,debt_consolidation,981xx,WA,0,Sep-2006,0.0,12,0,11069.0,30,w,6344.90,6344.90,4102.110000,4102.11,2905.10,1197.01,0.0,0.0,0.0,316.10,0,1,Individual,0,318.0,36029.0,28100.0
49996,69058326,35000,35000,35000.0,60 months,20.50,937.06,E,E4,MORTGAGE,82000.0,Verified,Feb-2016,Current,n,debt_consolidation,898xx,NV,1,Feb-2000,2.0,15,0,17118.0,27,w,26034.91,26034.91,20535.600000,20535.60,8965.09,11570.51,0.0,0.0,0.0,937.06,0,1,Individual,0,0.0,161993.0,34600.0
49997,112733305,18000,18000,18000.0,36 months,12.62,603.21,C,C1,OWN,50000.0,Source Verified,Jul-2017,Current,n,debt_consolidation,480xx,MI,1,Apr-2011,1.0,17,0,7792.0,18,w,15888.41,15888.41,2990.810000,2990.81,2111.59,879.22,0.0,0.0,0.0,603.21,0,1,Joint App,0,0.0,21288.0,33900.0
49998,117041837,2400,2400,2400.0,36 months,23.88,94.01,E,E2,MORTGAGE,55000.0,Source Verified,Aug-2017,Current,n,debt_consolidation,397xx,MS,1,Apr-2006,0.0,4,0,187.0,5,w,2259.96,2259.96,308.850000,308.85,140.04,138.81,30.0,0.0,0.0,94.01,0,1,Individual,0,0.0,20923.0,1100.0
49999,96223439,3600,3600,3600.0,36 months,14.99,124.78,C,C4,MORTGAGE,100000.0,Source Verified,Jan-2017,Fully Paid,n,other,784xx,TX,0,Apr-2002,2.0,16,0,11237.0,48,f,0.00,0.00,3880.804898,3880.80,3600.00,265.80,15.0,0.0,0.0,3244.90,0,1,Individual,0,0.0,188556.0,14500.0

In [82]:
df['loan_status'].value_counts()

loan_status
Current               36936
Fully Paid             8771
Charged Off            2546
Late (31-120 days)     1040
In Grace Period         440
Late (16-30 days)       261
Default                   6
Name: count, dtype: int64

In [65]:
df.shape

(50000, 43)

In [83]:

# Generar una lista de valores aleatorios 'cancelado' y 'no_cancelado'
valores_random = np.random.choice(['cancelado', 'no_cancelado'], size=len(df))

# Asignar la lista aleatoria a la columna 'loan_status'
# df['loan_status'] = valores_random

# Asignar la lista aleatoria a la columna 'loan_status' utilizando .loc[]
df.loc[:, 'loan_status'] = valores_random

df

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,zip_code,addr_state,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,69802332,8400,8400,8400.0,36 months,11.99,278.97,C,C1,MORTGAGE,80000.0,Verified,Jan-2016,cancelado,n,debt_consolidation,302xx,GA,1,Aug-1998,1.0,31,2,11806.0,42,f,3627.88,3627.88,6141.250000,6141.25,4772.12,1369.13,0.0,0.0,0.0,278.97,0,1,Individual,0,0.0,329237.0,16800.0
1,105668881,25000,25000,25000.0,36 months,11.49,824.29,B,B5,MORTGAGE,99000.0,Not Verified,Apr-2017,no_cancelado,n,debt_consolidation,722xx,AR,0,Oct-2006,0.0,11,0,24234.0,21,w,0.00,0.00,26560.060933,26560.06,25000.00,1560.06,0.0,0.0,0.0,21630.28,0,1,Individual,0,0.0,272059.0,52100.0
2,92817326,8000,8000,8000.0,36 months,11.49,263.78,B,B5,MORTGAGE,41000.0,Not Verified,Nov-2016,cancelado,n,debt_consolidation,465xx,IN,0,Aug-2003,0.0,7,0,7262.0,14,w,0.00,0.00,8254.881898,8254.88,8000.00,254.88,0.0,0.0,0.0,7732.43,0,1,Individual,0,0.0,82895.0,19100.0
3,88016605,12000,12000,12000.0,36 months,11.49,395.66,B,B5,RENT,48000.0,Verified,Aug-2016,cancelado,n,debt_consolidation,934xx,CA,0,Jul-2002,1.0,14,0,13508.0,21,w,7170.37,7170.37,6315.240000,6315.24,4829.63,1485.61,0.0,0.0,0.0,395.66,0,1,Individual,0,0.0,31013.0,24100.0
4,92719338,10000,10000,10000.0,36 months,21.49,379.28,D,D5,RENT,51000.0,Source Verified,Nov-2016,no_cancelado,n,house,064xx,CT,0,Jul-2013,3.0,4,0,414.0,5,f,7098.59,7098.59,4900.790000,4900.79,2901.41,1999.38,0.0,0.0,0.0,379.28,0,1,Individual,0,0.0,13474.0,5400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,92541492,9250,9250,9250.0,36 months,13.99,316.10,C,C3,RENT,35360.0,Source Verified,Nov-2016,no_cancelado,n,debt_consolidation,981xx,WA,0,Sep-2006,0.0,12,0,11069.0,30,w,6344.90,6344.90,4102.110000,4102.11,2905.10,1197.01,0.0,0.0,0.0,316.10,0,1,Individual,0,318.0,36029.0,28100.0
49996,69058326,35000,35000,35000.0,60 months,20.50,937.06,E,E4,MORTGAGE,82000.0,Verified,Feb-2016,no_cancelado,n,debt_consolidation,898xx,NV,1,Feb-2000,2.0,15,0,17118.0,27,w,26034.91,26034.91,20535.600000,20535.60,8965.09,11570.51,0.0,0.0,0.0,937.06,0,1,Individual,0,0.0,161993.0,34600.0
49997,112733305,18000,18000,18000.0,36 months,12.62,603.21,C,C1,OWN,50000.0,Source Verified,Jul-2017,cancelado,n,debt_consolidation,480xx,MI,1,Apr-2011,1.0,17,0,7792.0,18,w,15888.41,15888.41,2990.810000,2990.81,2111.59,879.22,0.0,0.0,0.0,603.21,0,1,Joint App,0,0.0,21288.0,33900.0
49998,117041837,2400,2400,2400.0,36 months,23.88,94.01,E,E2,MORTGAGE,55000.0,Source Verified,Aug-2017,no_cancelado,n,debt_consolidation,397xx,MS,1,Apr-2006,0.0,4,0,187.0,5,w,2259.96,2259.96,308.850000,308.85,140.04,138.81,30.0,0.0,0.0,94.01,0,1,Individual,0,0.0,20923.0,1100.0
49999,96223439,3600,3600,3600.0,36 months,14.99,124.78,C,C4,MORTGAGE,100000.0,Source Verified,Jan-2017,cancelado,n,other,784xx,TX,0,Apr-2002,2.0,16,0,11237.0,48,f,0.00,0.00,3880.804898,3880.80,3600.00,265.80,15.0,0.0,0.0,3244.90,0,1,Individual,0,0.0,188556.0,14500.0

In [85]:
df['loan_status'].value_counts()

loan_status
no_cancelado    25076
cancelado       24924
Name: count, dtype: int64

In [86]:

# Reemplazar 'cancelado' por 1 y 'no_cancelado' por 0 en la columna 'loan_status'
df['loan_status'] = df['loan_status'].replace({'cancelado': 1, 'no_cancelado': 0})

# mostramos los datos
df


#! Otra opcion Abajo

C:\Users\gonza\AppData\Local\Temp\ipykernel_13936\940458466.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['loan_status'] = df['loan_status'].replace({'cancelado': 1, 'no_cancelado': 0})
C:\Users\gonza\AppData\Local\Temp\ipykernel_13936\940458466.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['loan_status'] = df['loan_status'].replace({'cancelado': 1, 'no_cancelado': 0})

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,zip_code,addr_state,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,69802332,8400,8400,8400.0,36 months,11.99,278.97,C,C1,MORTGAGE,80000.0,Verified,Jan-2016,1,n,debt_consolidation,302xx,GA,1,Aug-1998,1.0,31,2,11806.0,42,f,3627.88,3627.88,6141.250000,6141.25,4772.12,1369.13,0.0,0.0,0.0,278.97,0,1,Individual,0,0.0,329237.0,16800.0
1,105668881,25000,25000,25000.0,36 months,11.49,824.29,B,B5,MORTGAGE,99000.0,Not Verified,Apr-2017,0,n,debt_consolidation,722xx,AR,0,Oct-2006,0.0,11,0,24234.0,21,w,0.00,0.00,26560.060933,26560.06,25000.00,1560.06,0.0,0.0,0.0,21630.28,0,1,Individual,0,0.0,272059.0,52100.0
2,92817326,8000,8000,8000.0,36 months,11.49,263.78,B,B5,MORTGAGE,41000.0,Not Verified,Nov-2016,1,n,debt_consolidation,465xx,IN,0,Aug-2003,0.0,7,0,7262.0,14,w,0.00,0.00,8254.881898,8254.88,8000.00,254.88,0.0,0.0,0.0,7732.43,0,1,Individual,0,0.0,82895.0,19100.0
3,88016605,12000,12000,12000.0,36 months,11.49,395.66,B,B5,RENT,48000.0,Verified,Aug-2016,1,n,debt_consolidation,934xx,CA,0,Jul-2002,1.0,14,0,13508.0,21,w,7170.37,7170.37,6315.240000,6315.24,4829.63,1485.61,0.0,0.0,0.0,395.66,0,1,Individual,0,0.0,31013.0,24100.0
4,92719338,10000,10000,10000.0,36 months,21.49,379.28,D,D5,RENT,51000.0,Source Verified,Nov-2016,0,n,house,064xx,CT,0,Jul-2013,3.0,4,0,414.0,5,f,7098.59,7098.59,4900.790000,4900.79,2901.41,1999.38,0.0,0.0,0.0,379.28,0,1,Individual,0,0.0,13474.0,5400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,92541492,9250,9250,9250.0,36 months,13.99,316.10,C,C3,RENT,35360.0,Source Verified,Nov-2016,0,n,debt_consolidation,981xx,WA,0,Sep-2006,0.0,12,0,11069.0,30,w,6344.90,6344.90,4102.110000,4102.11,2905.10,1197.01,0.0,0.0,0.0,316.10,0,1,Individual,0,318.0,36029.0,28100.0
49996,69058326,35000,35000,35000.0,60 months,20.50,937.06,E,E4,MORTGAGE,82000.0,Verified,Feb-2016,0,n,debt_consolidation,898xx,NV,1,Feb-2000,2.0,15,0,17118.0,27,w,26034.91,26034.91,20535.600000,20535.60,8965.09,11570.51,0.0,0.0,0.0,937.06,0,1,Individual,0,0.0,161993.0,34600.0
49997,112733305,18000,18000,18000.0,36 months,12.62,603.21,C,C1,OWN,50000.0,Source Verified,Jul-2017,1,n,debt_consolidation,480xx,MI,1,Apr-2011,1.0,17,0,7792.0,18,w,15888.41,15888.41,2990.810000,2990.81,2111.59,879.22,0.0,0.0,0.0,603.21,0,1,Joint App,0,0.0,21288.0,33900.0
49998,117041837,2400,2400,2400.0,36 months,23.88,94.01,E,E2,MORTGAGE,55000.0,Source Verified,Aug-2017,0,n,debt_consolidation,397xx,MS,1,Apr-2006,0.0,4,0,187.0,5,w,2259.96,2259.96,308.850000,308.85,140.04,138.81,30.0,0.0,0.0,94.01,0,1,Individual,0,0.0,20923.0,1100.0
49999,96223439,3600,3600,3600.0,36 months,14.99,124.78,C,C4,MORTGAGE,100000.0,Source Verified,Jan-2017,1,n,other,784xx,TX,0,Apr-2002,2.0,16,0,11237.0,48,f,0.00,0.00,3880.804898,3880.80,3600.00,265.80,15.0,0.0,0.0,3244.90,0,1,Individual,0,0.0,188556.0,14500.0

In [89]:
# Hacer una copia del DataFrame
data = df.copy()

# Reemplazar 'cancelado' por 1 y 'no_cancelado' por 0 en la columna 'loan_status'
data['loan_status'] = data['loan_status'].replace({'cancelado': 1, 'no_cancelado': 0})

# Mostrar los datos
data

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,zip_code,addr_state,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,69802332,8400,8400,8400.0,36 months,11.99,278.97,C,C1,MORTGAGE,80000.0,Verified,Jan-2016,1,n,debt_consolidation,302xx,GA,1,Aug-1998,1.0,31,2,11806.0,42,f,3627.88,3627.88,6141.250000,6141.25,4772.12,1369.13,0.0,0.0,0.0,278.97,0,1,Individual,0,0.0,329237.0,16800.0
1,105668881,25000,25000,25000.0,36 months,11.49,824.29,B,B5,MORTGAGE,99000.0,Not Verified,Apr-2017,0,n,debt_consolidation,722xx,AR,0,Oct-2006,0.0,11,0,24234.0,21,w,0.00,0.00,26560.060933,26560.06,25000.00,1560.06,0.0,0.0,0.0,21630.28,0,1,Individual,0,0.0,272059.0,52100.0
2,92817326,8000,8000,8000.0,36 months,11.49,263.78,B,B5,MORTGAGE,41000.0,Not Verified,Nov-2016,1,n,debt_consolidation,465xx,IN,0,Aug-2003,0.0,7,0,7262.0,14,w,0.00,0.00,8254.881898,8254.88,8000.00,254.88,0.0,0.0,0.0,7732.43,0,1,Individual,0,0.0,82895.0,19100.0
3,88016605,12000,12000,12000.0,36 months,11.49,395.66,B,B5,RENT,48000.0,Verified,Aug-2016,1,n,debt_consolidation,934xx,CA,0,Jul-2002,1.0,14,0,13508.0,21,w,7170.37,7170.37,6315.240000,6315.24,4829.63,1485.61,0.0,0.0,0.0,395.66,0,1,Individual,0,0.0,31013.0,24100.0
4,92719338,10000,10000,10000.0,36 months,21.49,379.28,D,D5,RENT,51000.0,Source Verified,Nov-2016,0,n,house,064xx,CT,0,Jul-2013,3.0,4,0,414.0,5,f,7098.59,7098.59,4900.790000,4900.79,2901.41,1999.38,0.0,0.0,0.0,379.28,0,1,Individual,0,0.0,13474.0,5400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,92541492,9250,9250,9250.0,36 months,13.99,316.10,C,C3,RENT,35360.0,Source Verified,Nov-2016,0,n,debt_consolidation,981xx,WA,0,Sep-2006,0.0,12,0,11069.0,30,w,6344.90,6344.90,4102.110000,4102.11,2905.10,1197.01,0.0,0.0,0.0,316.10,0,1,Individual,0,318.0,36029.0,28100.0
49996,69058326,35000,35000,35000.0,60 months,20.50,937.06,E,E4,MORTGAGE,82000.0,Verified,Feb-2016,0,n,debt_consolidation,898xx,NV,1,Feb-2000,2.0,15,0,17118.0,27,w,26034.91,26034.91,20535.600000,20535.60,8965.09,11570.51,0.0,0.0,0.0,937.06,0,1,Individual,0,0.0,161993.0,34600.0
49997,112733305,18000,18000,18000.0,36 months,12.62,603.21,C,C1,OWN,50000.0,Source Verified,Jul-2017,1,n,debt_consolidation,480xx,MI,1,Apr-2011,1.0,17,0,7792.0,18,w,15888.41,15888.41,2990.810000,2990.81,2111.59,879.22,0.0,0.0,0.0,603.21,0,1,Joint App,0,0.0,21288.0,33900.0
49998,117041837,2400,2400,2400.0,36 months,23.88,94.01,E,E2,MORTGAGE,55000.0,Source Verified,Aug-2017,0,n,debt_consolidation,397xx,MS,1,Apr-2006,0.0,4,0,187.0,5,w,2259.96,2259.96,308.850000,308.85,140.04,138.81,30.0,0.0,0.0,94.01,0,1,Individual,0,0.0,20923.0,1100.0
49999,96223439,3600,3600,3600.0,36 months,14.99,124.78,C,C4,MORTGAGE,100000.0,Source Verified,Jan-2017,1,n,other,784xx,TX,0,Apr-2002,2.0,16,0,11237.0,48,f,0.00,0.00,3880.804898,3880.80,3600.00,265.80,15.0,0.0,0.0,3244.90,0,1,Individual,0,0.0,188556.0,14500.0

In [90]:
# mostramos cuantas clases tiene la columna de loan_status
data['loan_status'].value_counts()

loan_status
0    25076
1    24924
Name: count, dtype: int64

In [91]:
#variables categoricas, donde convertimos a int64
columnas_categoricas = data.select_dtypes(include=['object']).columns

#Procesamiento de frases o palabras a valores numericos para su procesamiento
for columna in columnas_categoricas:
  le = LabelEncoder()
  data[columna] = le.fit_transform(data[columna])
  
# Mostramos los datos
data

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,zip_code,addr_state,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,69802332,8400,8400,8400.0,0,11.99,278.97,2,10,1,80000.0,2,7,1,0,2,272,10,1,87,1.0,31,2,11806.0,42,0,3627.88,3627.88,6141.250000,6141.25,4772.12,1369.13,0.0,0.0,0.0,278.97,0,1,0,0,0.0,329237.0,16800.0
1,105668881,25000,25000,25000.0,0,11.49,824.29,1,9,1,99000.0,0,1,0,0,2,625,2,0,549,0.0,11,0,24234.0,21,1,0.00,0.00,26560.060933,26560.06,25000.00,1560.06,0.0,0.0,0.0,21630.28,0,1,0,0,0.0,272059.0,52100.0
2,92817326,8000,8000,8000.0,0,11.49,263.78,1,9,1,41000.0,0,17,1,0,2,424,14,0,92,0.0,7,0,7262.0,14,1,0.00,0.00,8254.881898,8254.88,8000.00,254.88,0.0,0.0,0.0,7732.43,0,1,0,0,0.0,82895.0,19100.0
3,88016605,12000,12000,12000.0,0,11.49,395.66,1,9,4,48000.0,2,2,1,0,2,803,4,0,292,1.0,14,0,13508.0,21,1,7170.37,7170.37,6315.240000,6315.24,4829.63,1485.61,0.0,0.0,0.0,395.66,0,1,0,0,0.0,31013.0,24100.0
4,92719338,10000,10000,10000.0,0,21.49,379.28,3,19,4,51000.0,1,17,0,0,4,51,6,0,303,3.0,4,0,414.0,5,0,7098.59,7098.59,4900.790000,4900.79,2901.41,1999.38,0.0,0.0,0.0,379.28,0,1,0,0,0.0,13474.0,5400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,92541492,9250,9250,9250.0,0,13.99,316.10,2,12,4,35360.0,1,17,0,0,2,845,46,0,596,0.0,12,0,11069.0,30,1,6344.90,6344.90,4102.110000,4102.11,2905.10,1197.01,0.0,0.0,0.0,316.10,0,1,0,0,318.0,36029.0,28100.0
49996,69058326,35000,35000,35000.0,1,20.50,937.06,4,23,1,82000.0,2,5,0,0,2,771,32,1,184,2.0,15,0,17118.0,27,1,26034.91,26034.91,20535.600000,20535.60,8965.09,11570.51,0.0,0.0,0.0,937.06,0,1,0,0,0.0,161993.0,34600.0
49997,112733305,18000,18000,18000.0,0,12.62,603.21,2,10,3,50000.0,1,10,1,0,2,439,21,1,48,1.0,17,0,7792.0,18,1,15888.41,15888.41,2990.810000,2990.81,2111.59,879.22,0.0,0.0,0.0,603.21,0,1,1,0,0.0,21288.0,33900.0
49998,117041837,2400,2400,2400.0,0,23.88,94.01,4,21,1,55000.0,1,3,0,0,2,362,24,1,43,0.0,4,0,187.0,5,1,2259.96,2259.96,308.850000,308.85,140.04,138.81,30.0,0.0,0.0,94.01,0,1,0,0,0.0,20923.0,1100.0
49999,96223439,3600,3600,3600.0,0,14.99,124.78,2,13,1,100000.0,1,8,1,0,8,683,42,0,39,2.0,16,0,11237.0,48,0,0.00,0.00,3880.804898,3880.80,3600.00,265.80,15.0,0.0,0.0,3244.90,0,1,0,0,0.0,188556.0,14500.0